.image {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%); 
    width: 50%;
    height: 60%;
    
    top: 50%;
    left: 25%;
    background: rgba(249, 254, 255, 0.1)
}