
.menuB {
    grid-area: 1 / 1 / 2 / 2;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    position: relative;

}

.Menu-container {
    position: absolute;
    text-align: center;
	background-color:rgba(22, 89, 83, 0.3);;
    display: flex;
    flex-direction: column;
	box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
    height: 90%;
    width: 30%;
    left: 10%;
    top: 5%;
    padding-bottom: 5px;
    border-radius: 5px;
}

.logo > img {
    position: relative;
    bottom: 30%;
}


.not-set {
    justify-content: flex-end;
    display: flex;

    flex-direction: column;
    gap: 47px;
}
.icons-cont {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.icon {
    position: relative;
    color: #FFF;
	font-size: medium;
    width: 1vw;
    height: auto;
    padding: 6px 16px 6px 17px;
    border-radius: 5px;
}

.icon:hover {
    background: rgba(29, 242, 182, 0.5);
    transition: 1s ease;
    cursor: pointer;
}
