.Myprofile{
    grid-area: 1 / 1 / 2 / 2;
    background-color: rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.myImgProfile {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.myImgProfile img { 
    content: "";
    position: absolute;
    width: 5vw;
    height: 11vh;
    border-radius: 50%;
    text-align: center;
    /* left: calc(50% - 95px); */
    /* top: 15.5px; */
    border: 2px solid rgba(235, 223, 223, 0.5); 
}

.myname {
    grid-area: 2 / 1 / 3 / 2;
 
     display: flex;
     justify-content: center;
     align-items: center;


}

.myname p {
    margin: 0;
    text-align: center;
    color: #b9b9b9;
    font-size: 1.4em;
    padding-top: 5px;
    font-weight: bold;
}

.left-elements {
    grid-area: 3 / 1 / 4 / 2;
    position: relative;
}

