.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* For Safari and other WebKit-based browsers */
    z-index: 1;
  }
  


  .modal-content-add {
    background: rgb(175, 185, 185, 0.2);
    border: 1px solid #8BD9D1;
    margin: 8% auto;
    padding: 20px;
    max-width: 598px;
    border-radius: 10px;
    width: 10vw;
    height: 15vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .input-add-modal{
    grid-area: 1 / 1 / 2 / 2; 
    width: 95%;
    height: 42%;
    padding: 1% 3% 1% 3%;
    border-radius: 12px;
    background:rgba(29, 242, 182, 1);
    outline: none;
    border: 1px solid white;


  }
  .butt-add-modal{
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
}

.But-modal{
    width: 20%;
    height: 35%;
    background:rgba(29, 242, 182, 1);
    padding: 1vh 1vh 0.5vh 1vh;
    border-radius: 5px;

}

.But-modal:hover{
    cursor: pointer;
    background: rgba(29, 242, 182, 0.5);
    cursor: pointer;
    transition: 0.5s ease;
}

.submit-But-modal{
    grid-area: 1 / 2 / 2 / 3;
    color: rgb(6, 78, 6);
}

.Cancel-But-modal{
    grid-area: 1 / 1 / 2 / 2; 
    color: rgb(116, 7, 7);
}