/* 
.game{
  background-image: url(room4.jpg);
  background-size: cover;
  background-position: center;
  background-position: 0cqi;
  background-color: black;
} */

canvas{
  background-image: url(room4.jpg);
  background-size: cover;
  background-position: center;
  background-position: 0cqi;
  background-color: black;
  height: 100vh;
  width: 100%;
}