
body{
  background-color: #0D1526;

}


.game-container {
    /* position: relative; */
  }
  
  .practice-button {
    background-image: url("src/component/game/practice.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 15vh;
    left: 10vw;
    width: 35vw;
    height: 45vh;

  }
  
  .create-button {
    color: antiquewhite;
    background-image: url("src/component/game/vs.jpg");
    background-size: cover;
    position: absolute;
    top: 15vh;
    right: 10vw;
    width: 35vw;
    height: 45vh;
  }

  .create-button, .practice-button{
    background-color: rgb(40, 168, 162);
    border: solid 2px black;
    border-radius: 20px;
    font-size: 150%;
}
.create-button:hover{
  transform: rotate(5deg);
}
.practice-button:hover{
  transform: rotate(-5deg);
}
.create-button:hover, .practice-button:hover {

    box-shadow: 10px 5px 50px rgb(27, 126, 109),
                5px  5px 50px rgb(27, 126, 109),
                0 -5px 5px rgb(27, 126, 109),
                -5px 0 50px rgb(27, 126, 109);
}

.games-list{
    position: relative;
    top: 70vh;
    left: 34vw;
    height: 20vh;
    width: 30vw;
    overflow: scroll; 
    overflow-x: hidden;
}


li{
  position: relative;
  list-style-type: none;
  margin-bottom:  1vh;
  height: 12vh;
  border: 2px solid rgb(54, 3, 105);
}


li a{
  position: absolute;
  width: 10vw;
  height: 5vh;
  left: 10vw;
  top: 2vh;
  font-size: 350%;
  color: blanchedalmond;
}

li img{

  width: 8vw;
  height: inherit;
}



.end-game{
  width: 100vw;;
  height: 100vh;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  /* background-color: rgba(58, 56, 56, 0.5); */
  backdrop-filter: blur(3px);
}

.game-over{
  position: absolute;
  top: 10vw;
  left: 25vw;
  margin: 0;
  padding: 0;
  width: 50vw;
  height: 70vh;
  color: wheat;
  font-size: large;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/409c1914-c4f2-4625-8137-a6d91bb9209c/da9c72q-ffe8e2c0-2407-4db9-a82c-b5bff21d404b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQwOWMxOTE0LWM0ZjItNDYyNS04MTM3LWE2ZDkxYmI5MjA5Y1wvZGE5YzcycS1mZmU4ZTJjMC0yNDA3LTRkYjktYTgyYy1iNWJmZjIxZDQwNGIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gI7LBydTozJJSevmfhZnd-CZ06sRIbsOMw6BxDpAwPM");
  background-size: cover;
  background-position: -25px;
  border-radius: 30px;
}

.game-over button{
  color: blueviolet;
  width: 40%;
  height: 10vh;
  position: absolute;
  left: 28%;
  top: 50%;
  background-color: #051b4d;
  border: 2px solid rebeccapurple;
  font-size: 350%;
  text-shadow: 0 0 10px #0df3f3;
  border-radius: 20px;
}




