.messages-container 
{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 5px;
    margin: 5vh 0px 0px 3vh;;
    height: 90vh;
    padding: 0px 10px 0px 0px;
    background: rgba(22, 89, 83,0.1);
    border: 1px solid #8BD9D1;
    overflow:hidden;
    position: relative;
    justify-items: center;
    align-items: center;
}

.No-conv
{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: rgba(43, 158, 148, 0.1);
    border: 1px solid #8BD9D1;
    height: fit-content;
    width: fit-content;
    padding: 3%;
    border-radius: 5px;
}
.headPart {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 2%;
    border-bottom:  2px solid #8BD9D1;
    min-height: 8vh;
}

.img-cont {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    place-items: center;
    
    
}

.img-cont > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #8BD9D1;
    object-fit: cover;

}

.text { 
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;

}

.text .friend-nm {
    grid-area: 1 / 1 / 2 / 2; 
    position: absolute;
    top:30%;
    color: white;
}

.text .friend-stat {
    grid-area: 2 / 1 / 3 / 2; 
    color: rgb(172, 171, 171);
   font-size: 13px;
}

  











.midlePart {
    grid-area: 2 / 1 / 3 / 2;
	position: relative;
    margin: 4px 0px 0px 4px;
}

.new-chat {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
    overflow-y: auto;
    max-width: 43vw;
    max-height: 75.6vh;
    /* scrollbar-width: none; */
}

.time
{
    font-size: 0.8rem;
    background: #EEE;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: #999;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

.message {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background:rgba(29, 242, 182, 1);
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    min-height: 2.25rem;
    width: fit-content;
    height: fit-content;
    max-width: 50%;
    word-wrap: break-word;
    /* overflow-y: auto; */
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
    font-size: small;
}
.nwestMessages{
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}
.parker{
	margin: 0.5rem 1rem 0rem auto;
  	border-radius: 1.125rem 1.125rem 0 1.125rem;
  	background: rgba(22, 89, 83, 1); ;
  	color: white;
}





.send-message-button svg {
    stroke: #F9F9F9;
	fill: #FFF;
	width: 50%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    margin: 1px -1px;
}

 
