/* Match.css */
/* #{

    color : #E2F1E6;
    color : #175929;
    color: #418C55;
    color: #7EBF90;
    color: #033310;
} */

/* MatchesList.css */
/* .matches-list {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 2 / 3 / 4;
    background: rgba(250, 247, 247, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 41vh;
    border: 1px solid rgba(171, 185, 45, 0.2);
    border-radius: 5px;
    border-right: 1px solid rgba(171, 185, 45, 0.2);
    border-bottom: 1px solid rgba(171, 185, 45, 0.2);
    z-index: 10;
    backdrop-filter: blur(25px);
} */
/* MainComponent.css */


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px; /* Adjust as needed */
    padding: 0 20px; /* Adjust as needed */
  }
  
  


.matches-list {
    grid-area: 2 / 2 / 3 / 4;
    position: relative;  
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 70px 0px 0px 30px;
}

/* .swiper{
    width: 950px;
}
*/
.card {
    position: relative;
    height: 30vh;
    width: 15vw ;
    background: #045a25;
    border-radius: 20px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
  }

  .next {
    position: absolute;
    right: 2px;
    color: aliceblue;
  }

  .prev
  {
    position: absolute;
    color: aliceblue;
    left: 2px;
  }