.other-title{
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 1px solid #8BD9D1;
}

.other-title > p {
    color: white;
    padding: 2% 1% 1% 3%;
    font-size: x-large;
    margin: 1vh 1vh auto;
}

.no-info{
   
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(43, 158, 148, 0.1);
        border: 1px solid #8BD9D1;
        height: fit-content;
        width: fit-content;
        padding: 3%;
        border-radius: 5px;
     
}
.Otherimg {
    grid-area: 2 / 1 / 3 / 2;;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Otherimg img { 
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #8BD9D1; 
    object-fit: cover;
}

.Othername {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #8BD9D1;

}

.Othername p {
    margin: 0;
    text-align: center;
    color: white;

    font-size: 1.4em;
    padding-top: 5px;
    font-weight: bold;
}


.other-options {
    grid-area: 4 / 1 / 5 / 2;
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    grid-template-columns: 1fr;
}

.friend-options {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #8BD9D1;
    padding-top: 5px;
    padding-bottom: 5px;

}

.opt {
    width: 30px;
    color: white;   
    display: grid;
    place-items: center; 
}

.opt:hover { 
    padding: 0px 30px 0px 30px;
    background: rgba(29, 242, 182, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;

}

.block-option {
    grid-area: 1 / 1 / 2 / 2;
}

.unfriend-option {
    grid-area: 1 / 2 / 2 / 3; 
}

.play-option {
    grid-area: 1 / 3 / 2 / 4;
}


.add-new-friend {  
    grid-area: 2 / 1 / 3 / 2;
}