
.profile 
{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background: linear-gradient(11deg, rgba(233, 137, 27, 0.699) 0%, rgb(0, 0, 0) 100%);
}


.page
{
    grid-area: 1 / 2 / 2 / 3; 
    display: grid; 
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px; 
    grid-row-gap: 5px;
}
