.profile-container 
{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}    


/* .div1 {  }
.div2 { grid-area: 1 / 1 / 2 / 2; }  */

.new-game-container{
    grid-area: 1 / 2 / 2 / 3;
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.new-game {
    grid-area: 1 / 1 / 2 / 2;
    /* background-color: blueviolet; */
    background-image: url("src/assets/tettet.jpeg");
    object-fit: cover;
    
}

.stats { 
    grid-area: 2 / 1 / 3 / 2; 
}
    

.player-infos 
{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.ImgProfile {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ImgProfile img { 
    position: absolute;
    width:150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid rgba(235, 223, 223, 0.5);   
    object-fit: cover;
}

.name {
    grid-area: 2 / 1 / 3 / 2;
 
     display: flex;
     justify-content: center;
     align-items: center;


}

.name p {
    margin: 0;
    text-align: center;
    color: #b9b9b9;
    font-size: 1.4em;
    padding-top: 5px;
    font-weight: bold;
}

.edit-profile {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit {
    display: flex;
    color: white;
    justify-content: center;
}

.edit  p {
    padding: 5px 10px;
    border-radius:  10px;
    background-color: rgb(73, 6, 68);
    display: block;
    width: fit-content;
    height: fit-content;
    text-align: center;
}