.amis-image 
{
    grid-area: 1 / 1 / 2 / 2; 
    display: grid;
    place-items: center;
}

.amis-image img 
{
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%; /* Make it a circle */
    border: 2px solid #418C55;
    overflow: hidden;
    object-fit: cover;
}

.amis-infos
{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.amis-name {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    top: 50%;
    color: white;
    font-size: 1.5vmin;
}


.last-message {
    grid-area: 2 / 1 / 3 / 2; 
    /* background-color: rgb(114, 73, 23); */
    font-size: small;
    color: rgb(197, 197, 197);
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Display an ellipsis (...) when content overflows */
    white-space: nowrap; /* Prevent text from wrapping */
}

.amis-status {
    grid-area: 1 / 3 / 2 / 4; 
    display: grid;
    place-items: center;
    width: fit-content;
    height: fit-content;
    background: #8BD9D1;
    padding: 3px 7px 3px 7px;

    border-radius: 5px;
    font-size: small;
}
